* {
    box-sizing: border-box;
}


/* LEFT NAV BAR */

body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.nav-bar-left {
   display: flex;
   flex-direction: column;
    
}

.nav-icon {
    display: flex;
    flex-direction: row;
    height: 39px;
    width: 27px;
    padding: 12px;
    font-size: 19px;
}


.nav-icon-list {
    width: 263px;
    padding: 0 12px;
}

.nav-icon{
  
    
}

.nav-icon i{
    margin-right: 30px;
    height: 100%;
    width: 100%;
}

/* Feed section */

.feed {
    width: 582px;
    padding: 16px;
}


/* Right nav bar */

.right-nav-bar {
    width: 408px;
}
