* {
    box-sizing: border-box;
}


/* LEFT NAV BAR */


.nav-bar-left {
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    
}

.nav-icon {
    display: flex;
    flex-direction: column;
}
