* {
    box-sizing: border-box;
}


/* LEFT NAV BAR */

body {
    display: flex;
    justify-content: space-around;
   
}

.nav-bar-left {
   display: flex;
   flex-direction: column;
    
}

.nav-icon {
    display: flex;
    flex-direction: row;
    /* color: white; */
}
